header {
  margin-top: -10px;
  width: 450px;
}

header a:hover{
  text-decoration: none;
}

header a:visited{
  text-decoration: none;
  color: inherit;
}

html,body {
  height: 100%;
}

.welcome{
  font-family: 'Bad Script', cursive;
  font-size: 30px;
}

.my-name{
  font-family: 'Noto Serif' , serif;
  margin-top: -45px;
  font-size: 40px;
  margin-left: 45px;
}

.divider{
  margin-top: -40px;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

nav {
  float: right;
  margin-top: -25px;
}

nav ul{
  font-family: Arvo, serif;

}

nav li {
  list-style-type: none;
  display: inline;
  font-weight: 10px;
  color: black;
}

.intro{
  padding: 25px 35px 0 35px;
  font-family: Arvo, serif;


}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.blog-links {
  height: 50px;
  padding-top: 10px;
  text-align: center;

}

.blog-links ul{
  font-family: Arvo, serif;
  list-style-type: none;
  font-weight: 10px;
}

.blog-links li{
  display: inline;
  /*margin: 0 5px 0 5px;*/

}

footer {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 12px;

  Width: 100%;
  bottom: 0;
}

.footer-nav {
  list-style-type: none;
  text-align: center;
}

.footer-nav li {
  display: inline;
  font-size: 15px;
}

h1, h2, h4 {
  text-align: center;
  font-family: Arvo, serif;

}